/* reset */

* {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-style: normal;
  font-size: 12px;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* common function */

.f-clear {
  clear: both;
}

.f-clear:after {
  content: "";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

.g-main {
  padding: 0 20px;
}

/* header*/

.m-header {
  height: 33px;
  border-bottom: 2px solid #c20c0c;
}

.m-header h2 {
  float: left;
  font-size: 20px;
  line-height: 28px;
}

.m-header .count {
  float: left;
  margin: 9px 0 0 20px;
  color: #666;
}



/* comment list */

.m-comments {
  margin-top: 20px;
}

.m-comment {
  padding: 15px 0;
  border-top: 1px dotted #ccc;
}

.m-comment .reply {
  float: right;
  width: 110px;
  text-align: right;
}

.m-comment .reply,
.m-comment .reply a {
  color: #999;
}

.m-comment .comment {
  margin: 0 110px 0 55px;
  word-wrap: break-word;
}

.m-comment .comment .user {
  color: #0c73c2;
}
